{{!--       <div class="hora-conversa">
        Hoje - 09:41
      </div> --}}
 
<div style="height:90px"></div>

<div class="chatbox">
  {{#each history}}
    {{#if this.eu}}
        <div class="row message">
          
          <div class="col-xs-offset-2 col-md-offset-2 col-md-10 col-xs-10">
          <p class="message-receive">
           {{this.msg}}
          </p>
          
          </div>
        </div>  
    {{else}}
      <div class="row message">
      <div class="col-md-2 col-xs-2">
            <img class="img-responsive" src="/img/{{this.img}}">
          </div>
        <div class="col-md-10 col-xs-10">
          <div class="message-send">
           {{this.msg}}
                       <div class="time">
              <small>{{this.date}}</small>
            </div>
          </div>
        </div> 
      </div>
    {{/if}}
  {{/each}}
</div>  

    <section class="inferior">
      <div class="col-md-9 col-xs-9">
        <div class="mensagem">
          <input id="msgInput" type="text" placeholder="Envie sua mensagem"/>
        </div>
      </div>
      <div class="col-md-3 col-xs-3">
        <i id="sendButton" class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </div>
    </section>

<script>
  
    $(document).ready(function(){
      $('body').scrollTop($('.chatbox')[0].scrollHeight);
      // setInterval(function(){
      //     console.log('baixo');
          
      //  }, 300);

      $('#msgInput').focus();
      
      // $("body").on("keyUp","sendButton",function(event){
      //   if(event.keyCode == 13){
      //     event.preventDefault();
      //     $('#sendButton').click();
      //   }
      // });
      
      var roomId = window.location.pathname.split('/')[2];

      $('#sendButton').click(function(){
          console.log('ok ok o ko k ok ');
          var msg = $('#msgInput').val();

          //limpa tela
          $('#msgInput').val('');

         
           
          $.ajax({
            method: "POST",
            url: "/new/"+roomId,
            data: {text: msg},
            context: document.body,
            complete: function(e, xhr, settings){
               if(e.status === 200){
                   $('.chatbox').html($('.chatbox').html() + "<div class=\"row message\">\
                  <div class=\"col-xs-offset-2 col-md-offset-2 col-md-10 col-xs-10\">\
                  <p class=\"message-receive\">"+msg+"</p>\
                  </div>\
                </div>");
                   $('body').scrollTop($('.chatbox')[0].scrollHeight);
                  location.reload();
               }else if(e.status === 304){
               }else{
                   alert('voce está offline');
               }
            }
            //filtro para tratar mensagem
            //filtrarMensagem(msg);
            
          });
      })

    })


</script>